Section: misc
Priority: optional
Maintainer: ##MAINTAINER##
Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Depends: pinentry-gnome3 | pinentry
Homepage: https://github.com/tillitis/tkey-fido
Description: U2F/FIDO backed by Tillitis TKey
 tkey-fido 

is an alternative SSH agent backed by a private ed25519 key
 residing in the hardware TKey, a USB stick.
